ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding-left: 2rem;
    margin: 0 0 10px;
}
ul:last-child {
    margin: 0;
}
.breadcrumb {
    align-items: center;
}
.container-fluid-tab {
    height: 60px;
    margin-bottom: 20px!important;
    border: none !important;
}
.sticky-tab {
    position: sticky;
    top: 70px;
    border-bottom: 2px solid #ddd;
    z-index: 100;
    border-top: 1px solid #ccc;
}
.container-fluid{
width: 100%;
padding-right: var(--bs-gutter-x,.75rem);
padding-left: var(--bs-gutter-x,.075rem);
margin-right: auto;
margin-left: auto;
}
div {
    display: block;
}
.container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}

.col-md-8 , #link{
    flex: 0 0 auto;
    width: 66.6666666667%;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);

}
.flex-tab {
    padding-left: 0 !important;
}
.flex-tab {
    list-style: none;
    display: flex;
    height: 56px;
}
.flex-tab li {
    display: block;
    align-self: center;
    padding: 18px 15px;
    position: relative;
}
li{
    text-align: -webkit-match-parent;
}
.active_1-1 {
    color: #ed1c24 !important;
}
select, a {
    cursor: pointer;
}
a {
    color: #2D3954;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
* {
    outline: none;
    box-sizing: border-box;
}

.flex-tab-color-price {
    height: 56px;
    flex: 1;
    display: flex;
    justify-content: end;
    margin-right: -12px;
}
.price {
    height: 56px;
    flex: 1;
    justify-content: end;
}
.price strong {
    line-height: 56px;
    margin-right: 10px;
    font-size: 12px;
}
.price small {
    font-size: 20px;
    color: #e74432;
}
.flex-tab-color-price strong {
    line-height: 56px;
    margin-right: 10px;
    font-size: 12px;
}
b, strong {
    font-weight: bolder;
}
.flex-tab-color-price small {
    font-size: 20px;
    color: #e74432;
}
.gray-simple, html body .bg-light {
    background-color: #f5f5f5 !important;
}
.pt-4 {
    padding-top: 1.5rem !important;
}
.gray-simple {
    background: #f3f7fd;
}
section {
    padding: 20px 0;
    display: block;
}
.sticky-top-custom {
    position: -webkit-sticky;
    position: sticky;
    top: 140px;
}
.property_block_wrap.style-2 {
    border: 0px solid #e6eaf3;
    border-radius: 6px;
}
.property_block_wrap {
    margin-top: -10px;
    margin-bottom: 20px;
}
.property_block_wrap {
    display: block;
    width: 100%;
    background: #ffffff;
    padding: 0;
    border-radius: 4px;
    margin-bottom: 30px;
    border: 1px solid #e6eaf3;
}
.property_block_wrap.style-2 .property_block_wrap_header {
    padding: 1rem 1.5rem;
    border: none;
}
.property_block_wrap.style-2 .block-body {
    padding: 0rem 1.5rem 1rem;
}
.block-body {
    line-height: 1.7;
    display: inline-block;
    width: 100%;
}
.fit-h5-img iframe {
    height: 210px !important;
}
iframe {
    border: 0;
    width: 100%;
    height: 201px;
}
@media (min-width: 992px){
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}
@media (min-width: 768px){
    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
@media (min-width: 576px){
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
.justify-content-center {
    justify-content: center!important;
}

p{
    margin-bottom: 0px;
}